<html>

<head>
	<title>NAME OF INTERNSHIP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="/www/lib/css/bootstrap.min.css" />
</head>
<div id="navBar">
	{{template "navbar"}}
</div>

<body>
	<main>
		<!--This will be an example template that will hold the information for a specific internship-->
	</main>
</body>
<div id="footer">
	{{template "footer"}}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="/www/lib/js/jquery-3.2.1.slim.min.js"></script> repair to make local?-->
<script src="/www/lib/js/popper.min.js"></script>
<script src="/www/lib/js/bootstrap.min.js"></script>

</html>