<html>

<head>
    <link rel="stylesheet" type="text/css" href="/www/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/www/lib/css/newPost.css" />

    <style>
        footer {
            bottom: 0;
            /* position: fixed;  */
            width: 100%;
        }
    </style>
</head>



<body>
    <div id="navBar">
        {{template "navbar"}}
    </div>
    <main>
        <form id="programForm" action="/login" method="POST">
            <!-- select for what type of program post is -->
            <div class="form-group">
                <label for="selProgramType">Program Type</label>
                <select class="form-control" id="selProgramType">
                    <option>Internship</option>
                    <option>Apprenticeship</option>
                    <option>Certification</option>
                </select>
            </div>

            <!-- input photo of business -->
            <div class="form-group">
                <label for="inpEmployerPhoto">Employer Photo or Logo</label>
                <input type="file" accept="image/*" class="form-control-file" form="programForm" name="companyLogo" id="inpEmployerPhoto">
            </div>

            <div class="form-group">
                <!-- Company name  -->
                <label for="txtCompanyName">Company Name</label>
                <input id="txtCompanyName" class="form-control" form="programForm" name="companyName" type="text">

                <!-- Post Position -->
                <label for="txtPosition">Position Title</label>
                <input id="txtPosition" class="form-control" form="programForm" name="position" type="text">

                <!-- Location of company/position -->
                <label for="txtLocation">Location</label>
                <input id="txtLocation" class="form-control" form="programForm" name="location" type="text" placeholder="City, State">

                <!-- Contact info -->
                <label for="txtContact">Contact Info</label>
                <input id="txtContact" class="form-control" form="programForm" name="contactInfo" type="text">


                <!-- Start and end date -->
                <div class="row" id="startAndEndRow">
                    <div class="col">
                        <label for="inpDateStart">Start Date</label>
                        <input type="date" class="form-control" id="inpDateStart" form="programForm" name="startDate" placeholder="Start Date">
                    </div>
                    <div class="col">
                        <label for="inpDateEnd">End Date</label>
                        <input type="date" class="form-control" id="inpDateEnd" form="programForm" name="endDate" placeholder="End Date">
                    </div>
                </div>

                <!-- major -->
                <label for="selMajor">Major</label>
                <select class="form-control" id="selMajor" form="programForm" name="tags">
                    <option>PLACEHOLDER</option>
                </select>

                <!-- Expiration of posting -->
                <label for="inpDateExpr">Expiration of Post</label>
                <input type="date" class="form-control" id="inpDateExpr" form="programForm" name="expirationDate" placeholder="Date">

                <!-- Payment of position -->
                <label for="txtPay">Payment of position</label>
                <input id="txtPay" class="form-control" form="programForm" name="payment" type="text">
            </div>


            <!-- description of post -->
            <div class="form-group">
                <label for="txtDescription">Description</label>
                <textarea form="programForm" class="form-control" id="txtDescription" name="description" rows="3"></textarea>
            </div>
            <button form="programForm" type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>


        </form>
    </main>
    <div class="container">
        {{if .}} {{if .internships}}
        <h1>
            Internships
        </h1>
        {{range .internships}}
        <div class="row px-3">
            <div class="col existingProgram">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">{{.company}}</h1>
                        <h3 class="card-title">{{.jobTitle}}</h3>
                        <a href="/programs/{{.id}}" class="btn btn-primary">Learn More</a>
                        <a href="/admin/delete_program/{{.id}}" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        </div>{{if .apprenticeships}}
        <h1>
            Apprenticeships
        </h1>
        {{range .apprenticeships}}
        <div class="row px-3">
            <div class="col existingProgram">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">{{.company}}</h1>
                        <h3 class="card-title">{{.jobTitle}}</h3>
                        <a href="/programs/{{.id}}" class="btn btn-primary">Learn More</a>
                        <a href="/admin/delete_program/{{.id}}" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {{end}} {{end}} {{if .certifications}}
        <h1>
            Certification
        </h1>
        {{range .certification}}
        <div class="row px-3">
            <div class="col existingProgram">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">{{.company}}</h1>
                        <h3 class="card-title">{{.jobTitle}}</h3>
                        <a href="/programs/{{.id}}" class="btn btn-primary">Learn More</a>
                        <a href="/admin/delete_program/{{.id}}" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {{end}} {{end}} {{end}}
        <div id="footer">
            {{template "footer"}}
        </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="/www/lib/js/jquery-3.2.1.slim.min.js"></script> -->
<script src="/www/lib/js/popper.min.js"></script>
<script src="/www/lib/js/bootstrap.min.js"></script>

</html>